<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Router Simple</title>
</head>
<body>
<div id="app">
    <h1>Computed 속성 예제</h1>


    <!--
       //computed 속성은 연산을 처리할때 사용한다. 다만 복잡한 연산을 처리하면 할 수는있지만 코드가 너무 길어지고 가독성이 떨어지니 적당히 타협해서 사용하자 ,
       //computed 속성은 은 ddata 속성 값의 변화에 따라 자동으로 다시 연산하는 장점이 있다.
       //데이터 자동갱신의 효과 -> methods는 수동으로 눌렀을때 반응 하지만 computed는 자동으로 반응한다.
       //캐싱 효과 -> 데이터의 변경이 없다면 연산 결과를 계속해서 가지고 있다.
    -->
    <p>{{reversedMsg}}</p>
    <button v-on:click="clickEvt">전환</button>
</div>

<script src="../vue.js"></script>

<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "Hello Vue js"
            }

        },
        methods: {
            clickEvt() {
                this.message = 'abcde';
            }
        },
        computed: {
            reversedMsg() {
                return this.message = this.message.split('').reverse().join('');
            }
        }
    });
    app.mount('#app');
</script>
</body>
</html>